<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Chi tiết sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm mới nhất</h2>
                    {{#each moinhat}}
                    <div class="thubmnail-recent">
                        <img src="{{this.hinh}}" class="recent-thumb" alt="">
                        <h2>
                            <a href="{{this.url}}">{{this.ten}}</a>
                        </h2>
                        <div class="product-sidebar-price">
                            <ins>{{this.giaban}} đồng</ins>
                        </div>
                    </div>
                    {{/each}}
                </div>


            </div>
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="/">Home</a>
                        <a href="#">Laptop</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="{{detail.laptop.hinh}}" alt="">
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">{{detail.laptop.ten}}</h2>
                                <div class="product-inner-price">
                                    <ins>{{detail.laptop.giaban}} đồng</ins>
                                </div>

                                <form action="/catalog/doCart" class="cart" method="POST">
                                    
                                    <input style="display:none" type="text" value="{{detail.laptop.ten}}" name="ten">
                                    <input style="display:none" type="text" value="{{detail.laptop.hinh}}" name="hinh">
                                    <input style="display:none" type="text" value="{{detail.laptop.giaban}}" name="gia">
                                    <button class="add_to_cart_button" type="submit">Thêm vào giỏ hàng</button>
                                </form>



                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mô tả</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Nhận xét</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Thông tin chi tiết</h2>
                                            <p>Ram: {{detail.laptop.ram}}
                                                <br> CPU: {{detail.laptop.cpu}}
                                                <br> Màn hình: {{detail.laptop.manhinh}}
                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Reviews</h2>
                                            <div class="submit-review">
                                                <p>
                                                    <label for="name">Name</label>
                                                    <input name="name" type="text">
                                                </p>
                                                <p>
                                                    <label for="email">Email</label>
                                                    <input name="email" type="email">
                                                </p>
                                                <p>
                                                    <label for="review">Your review</label>
                                                    <textarea name="review" id="" cols="30" rows="10"></textarea>
                                                </p>
                                                <p>
                                                    <input type="submit" value="Submit">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-products-wrapper">
                    <h2 class="related-products-title">Sản phẩm liên quan</h2>
                    <div class="related-products-carousel">
                        {{#each lienquan}}
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="{{this.hinh}}" alt="">
                                <div class="product-hover">                               
                                    <a href="{{this.url}}" class="view-details-link">
                                        <i class="fa fa-link"></i> Xem chi tiết</a>
                                </div>
                            </div>

                            <h2>
                                <a href="{{this.url}}">{{this.ten}}</a>
                            </h2>

                            <div class="product-carousel-price">
                                <ins>{{this.giaban}} đồng</ins>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>